
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	background-color: transparent;
	background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@font-face {
    font-family: ProBold;
    src: url(./fonts/SF-Pro-Display-Bold.otf);
}

.jpr-housingscript {
	
    animation-name: fadein;
    animation-duration: 1s;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
    background: linear-gradient(167deg, rgba(119,40,40,0.6) 0%, rgba(182,44,44,0.2) 51%, rgba(106,47,47,0.6) 100%);
    overflow: hidden;
}

.menu-casas-1 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-1 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-1 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-1 > .menuesquerda {
    position: relative;
    display: inline-block;
    top: 5.4%;
    width: 30%;
    height: 70%;
    left: 3%;
    border-radius: 1vh;

}

.menuesquerda > .verificarcasa {
    position: absolute;
    width: 100%;
    height: 47%;
    top: 0;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    transition: 0.5s ease;
}

.menuesquerda > .verificarcasa:hover {
    transform: scale(1.03);
}

.menuesquerda > .verificarcasa > img {
    position: relative;
    width: 80%;
    left: 8%;
    
}

.menuesquerda > .visitasinfo {
    position: absolute;
    width: 100%;
    height: 47%;
    bottom: 0;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    transition: 0.5s ease;
}

.menuesquerda > .visitasinfo:hover {
    transform: scale(1.03);
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
}

.menuesquerda > .visitasinfo > img {
    position: relative;
    width: 35.5%;
    left: 30%;
    top: 10%;
    
}

.menuesquerda > .visitasinfo > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.7vh;
    top: 48%;
}

.menuesquerda > .visitasinfo > h2 {
    position: absolute;
    left: 5%;
    top: 60%;
    font-size: 1.437vh;
    max-width: 90%;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menuesquerda > .verificarcasa > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.7vh;
    top: 75%;
}

.menuesquerda > .verificarcasa > h2 {
    position: absolute;
    left: 5%;
    top: 85%;
    font-size: 1.5vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menuesquerda > .zonapiscina {
    position: absolute;
    width: 39%;
    height: 70%;
    top: 0;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    transition: 0.5s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
}

.menuesquerda > .zonapiscina:hover {
    transform: scale(1.03);
}

.menuesquerda > .zonajardim {
    position: absolute;
    width: 57%;
    height: 33%;
    top: 0;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    right: 0;
    transition: 0.5s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
}

.menuesquerda > .zonajardim:hover {
    transform: scale(1.03);
}

.menuesquerda > .zonacamaras {
    position: absolute;
    margin-top: 1%;
    width: 57%;
    height: 33%;
    top: 35%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    right: 0;
    transition: 0.5s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
}

.menuesquerda > .zonacamaras:hover {
    transform: scale(1.03);
}

.menuesquerda > .zonapiscina > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.6vh;
    top: 78%;
}

.menuesquerda > .zonapiscina > h2 {
    position: absolute;
    left: 5%;
    top: 85%;
    font-size: 1.4vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menuesquerda > .zonacamaras > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.6vh;
    top: 67%;
}

.menuesquerda > .zonacamaras > h2 {
    position: absolute;
    left: 5%;
    top: 80%;
    font-size: 1.4vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menuesquerda > .zonajardim > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.7vh;
    top: 67%;
}

.menuesquerda > .zonajardim > h2 {
    position: absolute;
    left: 5%;
    top: 80%;
    font-size: 1.5vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.zonapiscina > img {
    width: 85%;
    position: relative;
    left: 5%;
    top: 8%;
    
}

.zonajardim > img {
    width: 100%;
    position: relative;
    left: 30%;
    
    bottom: 35%;
}

.zonacamaras > img {
    width: 100%;
    position: relative;
    bottom: 1%;
    
}

.botoesinferiores {
    position: absolute;
    width: 93%;
    height: 10%;
    bottom: 1.5%;
    left: 3%;
}

.botoesinferiores > .botaoinferior {
    position: relative;
    display: inline-block;
    width: 38%;
    top: 5%;
    height: 90%;
    background-color: rgba(163, 162, 163, 0.362);
    border-radius: 0.8vh;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.314);
    transition: 0.5s ease;
    cursor: pointer;
}

.botoesinferiores > .botaoinferior:hover {
    transform: scale(1.02);
}

.botoesinferiores > .botaoinferior > h1 {
    position: relative;
    text-align: center;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.7vh;
    top: 35%;
}

.pequenacaixa {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 2.5%;
    border-radius: 1vh;
}

.pequenacaixa > h1 {
    position: relative;
    left: 0;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.6vh;
    top: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pequenacaixa > h2 {
    position: relative;
    left: 0;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.6vh;
    top: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pequenacaixa > h3 {
    position: relative;
    left: 0;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.6vh;
    top: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 2 */

.menu-casas-2 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-2 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-2 > .caixapersonalizacao {
    position: relative;
    display: inline-block;
    top: 5.4%;
    width: 25%;
    height: 40%;
    left: 3%;
    overflow: hidden;
    border-radius: 1vh;
    margin-right: 2%;
    border: 1.5px solid rgb(192, 192, 192);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-2 > .caixapersonalizacao:hover {
    transform: scale(1.03);
}

.menu-casas-2 > .caixapersonalizacao2 {
    position: relative;
    display: inline-block;
    top: 8.4%;
    width: 29.8%;
    height: 22%;
    overflow: hidden;
    left: 3%;
    border-radius: 1vh;
    margin-right: 2%;
    border: 1.5px solid rgb(192, 192, 192);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-2 > .caixapersonalizacao2:hover {
    transform: scale(1.03);
}

.menu-casas-2 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-2 > h2 {
    position: relative;
    text-align: center;
    top: 20.5%;
    font-size: 1.4vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-2 > .caixapersonalizacao > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.7vh;
    top: 78%;
}

.menu-casas-2 > .caixapersonalizacao > h2 {
    position: absolute;
    left: 5%;
    top: 85%;
    font-size: 1.5vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-2 > .caixapersonalizacao2 > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.6vh;
    top: 67.5%;
}

.menu-casas-2 > .caixapersonalizacao2 > h2 {
    position: absolute;
    left: 5%;
    top: 80%;
    font-size: 1.4vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-2 > .caixapersonalizacao > img {
    position: relative;
    width: 100%;
}

.menu-casas-2 > .caixapersonalizacao2 > img {
    position: relative;
    width: 55%;
}

/* 3 */

.menu-casas-3 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-3 > h2 {
    position: absolute;
    text-align: center;
    bottom: 7%;
    right: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-3 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-3 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-3 > .caixainfos {
    position: absolute;
    width: 26%;
    height: 80%;
    top: 14.5%;
    left: 3%;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-3 > .caixainfos:hover {
    transform: scale(1.02);
}

.menu-casas-3 > .caixainfos > img {
    position: relative;
    width: 100%;
}

.menu-casas-3 > .caixainfos > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.9vh;
    top: 88.5%;
}

.menu-casas-3 > .caixainfos > h2 {
    position: absolute;
    left: 5%;
    top: 93%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.footermenu3 {
    position: absolute;
    bottom: 4%;
    width: 63%;
    height: 5%;
    right: 5%;
}

.menu-casas-3 > .footermenu3 > h2 {
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-3 > .caixasdecores > .caixacor {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 25%;
    top: 1%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-3 > .caixasdecores > .caixacor > img {
    position: relative;
    width: 70%;
    right: -45%;
    bottom: -29%;
  
}

.menu-casas-3 > .caixasdecores > .caixacor:hover {
    transform: scale(1.03);
}

.menu-casas-3 > .caixasdecores {
    position: absolute;
    width: 65%;
    top: 14%;
    height: 75%;
    left: 31%;
    overflow-y: scroll;
}

.menu-casas-3 > .caixasdecores::-webkit-scrollbar {
    display: none;
}

.menu-casas-3 > .caixasdecores > .caixacor > h1 {
    position: absolute;
    left: 5.5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.4vh;
    top: 70%;
}

.menu-casas-3 > .caixasdecores > .caixacor > h2 {
    position: absolute;
    left: 5.5%;
    top: 84%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-3 > .caixasdecores > .caixacor > i {
    position: absolute;
    left: 5.5%;
    top: 4%;
    font-size: 1.1vh;
    cursor: pointer;
    color: white;
    transition: 0.5s ease;
}

.menu-casas-3 > .caixasdecores > .caixacor > i:hover {
    transform: scale(1.1);
}

/* 4 */

.menu-casas-4 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-4 > h2 {
    position: absolute;
    text-align: center;
    bottom: 7%;
    right: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-4 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-4 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-4 > .caixainfos {
    position: absolute;
    width: 26%;
    height: 80%;
    top: 14.5%;
    left: 3%;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-4 > .caixainfos:hover {
    transform: scale(1.02);
}

.menu-casas-4 > .caixainfos > img {
    position: relative;
    width: 100%;
}

.menu-casas-4 > .caixainfos > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.9vh;
    top: 88.5%;
}

.menu-casas-4 > .caixainfos > h2 {
    position: absolute;
    left: 5%;
    top: 93%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.footermenu3 {
    position: absolute;
    bottom: 4%;
    width: 63%;
    height: 5%;
    right: 5%;
}

.menu-casas-4 > .footermenu3 > h2 {
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-4 > .caixasdecores > .caixacor {
    position: relative;
    display: inline-block;
    width: 98%;
    height: 50%;
    top: 1%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-4 > .caixasdecores > .caixacor > img {
    position: relative;
    width: 70%;
    right: -45%;
    bottom: 19%;
   
}

.menu-casas-4 > .caixasdecores > .caixacor > h1 {
    position: absolute;
    left: 4%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 2.1vh;
    top: 10%;
}

.menu-casas-4 > .caixasdecores > .caixacor > h2 {
    position: absolute;
    left: 4%;
    top: 24%;
    font-size: 1.75vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-4 > .caixasdecores > .caixacor > input {
    background-color: transparent;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    position: absolute;
    left: 4%;
    width: 35%;
    top: 46%;
    font-size: 1.58vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
    padding-right: 0.5vh;
    padding-left: 0.5vh;
}

.menu-casas-4 > .caixasdecores > .caixacor > input::placeholder {
    color: #9f9e9e;
}

.menu-casas-4 > .caixasdecores > .caixacor > input:focus {
    outline: none;
}

.menu-casas-4 > .caixasdecores > .caixacor:hover {
    transform: scale(1.01) !important;
}

.menu-casas-4 > .caixasdecores {
    position: absolute;
    width: 65%;
    top: 14%;
    height: 75%;
    left: 31%;
    overflow-y: scroll;
}

.menu-casas-4 > .caixasdecores::-webkit-scrollbar {
    display: none;
}

.menu-casas-4 > .caixasdecores > .caixacor > i {
    position: absolute;
    right: 55%;
    font-size: 2.5vh;
    top: 46.5%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-4 > .caixasdecores > .caixacor > i:hover {
    transform: scale(1.1);
}

/* 5 */

.menu-casas-5 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-5 > h2 {
    position: absolute;
    text-align: center;
    bottom: 7%;
    right: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-5 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-5 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-5 > .caixainfos {
    position: absolute;
    width: 26%;
    height: 80%;
    top: 14.5%;
    left: 3%;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-5 > .caixainfos:hover {
    transform: scale(1.02);
}

.menu-casas-5 > .caixainfos > img {
    position: relative;
    width: 100%;
}

.menu-casas-5 > .caixainfos > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.9vh;
    top: 88.5%;
}

.menu-casas-5 > .caixainfos > h2 {
    position: absolute;
    left: 5%;
    top: 93%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.footermenu3 {
    position: absolute;
    bottom: 4%;
    width: 63%;
    height: 5%;
    right: 5%;
}

.menu-casas-5 > .footermenu3 > h2 {
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-5 > .caixasdecores > .caixacor {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 25%;
    top: 1%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-5 > .caixasdecores > .caixacor > img {
    position: relative;
    width: 70%;
    right: -45%;
    bottom: 10%;
   
}

.menu-casas-5 > .caixasdecores > .caixacor:hover {
    transform: scale(1.03);
}

.menu-casas-5 > .caixasdecores {
    position: absolute;
    width: 65%;
    top: 14%;
    height: 75%;
    left: 31%;
    overflow-y: scroll;
}

.menu-casas-5 > .caixasdecores::-webkit-scrollbar {
    display: none;
}

.menu-casas-5 > .caixasdecores > .caixacor > h1 {
    position: absolute;
    left: 5.5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.4vh;
    top: 70%;
}

.menu-casas-5 > .caixasdecores > .caixacor > h2 {
    position: absolute;
    left: 5.5%;
    top: 84%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
    max-width: 76%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-casas-5 > .caixasdecores > .caixacor > i {
    position: absolute;
    right: 5.5%;
    bottom: 6%;
    font-size: 1vh;
    color: #9f9e9e;
    transition: 0.5s ease;
}

.menu-casas-5 > .caixasdecores > .caixacor > i:hover {
    transform: scale(1.33);
}

.menu-casas-5 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(167, 76, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-5 > i:hover {
    transform: scale(1.1);
}

/* 6 */

.menu-casas-6 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-6 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(167, 76, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-6 > i:hover {
    transform: scale(1.1);
}

.menu-casas-6 > h2 {
    position: absolute;
    text-align: center;
    bottom: 7%;
    right: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-6 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-6 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-6 > .caixasdecores > .caixacor > i {
    position: absolute;
    right: 5.5%;
    bottom: 7%;
    font-size: 1vh;
    color: #9f9e9e;
    transition: 0.5s ease;
}

.menu-casas-6 > .caixasdecores > .caixacor > i:hover {
    transform: scale(1.33);
}

.menu-casas-6 > .caixainfos {
    position: absolute;
    width: 26%;
    height: 80%;
    top: 14.5%;
    left: 3%;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-6 > .caixainfos:hover {
    transform: scale(1.02);
}

.menu-casas-6 > .caixainfos > img {
    position: relative;
    width: 100%;
}

.menu-casas-6 > .caixainfos > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.9vh;
    top: 88.5%;
}

.menu-casas-6 > .caixainfos > h2 {
    position: absolute;
    left: 5%;
    top: 93%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.footermenu3 {
    position: absolute;
    bottom: 4%;
    width: 63%;
    height: 5%;
    right: 5%;
}

.menu-casas-6 > .footermenu3 > h2 {
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-6 > .caixasdecores > .caixacor {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 25%;
    top: 1%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-6 > .caixasdecores > .caixacor > img {
    position: relative;
    width: 70%;
    right: -45%;
    bottom: 5%;
   
}

.menu-casas-6 > .caixasdecores > .caixacor:hover {
    transform: scale(1.03);
}

.menu-casas-6 > .caixasdecores {
    position: absolute;
    width: 65%;
    top: 14%;
    height: 75%;
    left: 31.5%;
    overflow-y: scroll;
}

.menu-casas-6 > .caixasdecores::-webkit-scrollbar {
    display: none;
}

.menu-casas-6 > .caixasdecores > .caixacor > h1 {
    position: absolute;
    left: 5.5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.4vh;
    top: 70%;
}

.menu-casas-6 > .caixasdecores > .caixacor > h2 {
    position: absolute;
    left: 5.5%;
    top: 84%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

/* 7 */

.menu-casas-7 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-7 > h2 {
    position: absolute;
    text-align: center;
    bottom: 7%;
    right: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-7 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-7 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-7 > .caixainfos {
    position: absolute;
    width: 26%;
    height: 80%;
    top: 14.5%;
    left: 3%;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-7 > .caixainfos:hover {
    transform: scale(1.02);
}

.menu-casas-7 > .caixainfos > img {
    position: relative;
    width: 100%;
}

.menu-casas-7 > .caixainfos > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.9vh;
    top: 88.5%;
}

.menu-casas-7 > .caixainfos > h2 {
    position: absolute;
    left: 5%;
    top: 93%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.footermenu3 {
    position: absolute;
    bottom: 4%;
    width: 63%;
    height: 5%;
    right: 5%;
}

.menu-casas-7 > .footermenu3 > h2 {
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-7 > .caixasdecores > .caixacor {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 25%;
    top: 1%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-7 > .caixasdecores > .caixacor > img {
    position: relative;
    width: 50%;
    right: -50%;
    bottom: -2%;
  
}

.menu-casas-7 > .caixasdecores > .caixacor:hover {
    transform: scale(1.03);
}

.menu-casas-7 > .caixasdecores {
    position: absolute;
    width: 65%;
    top: 14%;
    height: 75%;
    left: 31%;
    overflow-y: scroll;
}

.menu-casas-7 > .caixasdecores::-webkit-scrollbar {
    display: none;
}

.menu-casas-7 > .caixasdecores > .caixacor > h1 {
    position: absolute;
    left: 5.5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.4vh;
    top: 70%;
}

.menu-casas-7 > .caixasdecores > .caixacor > h2 {
    position: absolute;
    left: 5.5%;
    top: 84%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-7 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(89, 76, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-7 > i:hover {
    transform: scale(1.1);
}

/* 8 */

.menu-casas-8 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-8 > h2 {
    position: absolute;
    text-align: center;
    bottom: 7%;
    right: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-8 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-8 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-8 > .caixainfos {
    position: absolute;
    width: 26%;
    height: 80%;
    top: 14.5%;
    left: 3%;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-8 > .caixainfos:hover {
    transform: scale(1.02);
}

.menu-casas-8 > .caixainfos > img {
    position: relative;
    width: 100%;
}

.menu-casas-8 > .caixainfos > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.9vh;
    top: 88.5%;
}

.menu-casas-8 > .caixainfos > h2 {
    position: absolute;
    left: 5%;
    top: 93%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.footermenu3 {
    position: absolute;
    bottom: 4%;
    width: 63%;
    height: 5%;
    right: 5%;
}

.menu-casas-8 > .footermenu3 > h2 {
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-8 > .caixasdecores > .caixacor {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 25%;
    top: 1%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    transition: 0.5s ease;
}

.menu-casas-8 > .caixasdecores > .caixacor > img {
    position: relative;
    width: 70%;
    right: -45%;
    bottom: 10%;
  
}

.menu-casas-8 > .caixasdecores > .caixacor:hover {
    transform: scale(1.03);
}

.menu-casas-8 > .caixasdecores {
    position: absolute;
    width: 65%;
    top: 14%;
    height: 75%;
    left: 31%;
    overflow-y: scroll;
}

.menu-casas-8 > .caixasdecores::-webkit-scrollbar {
    display: none;
}

.menu-casas-8 > .caixasdecores > .caixacor > h1 {
    position: absolute;
    left: 5.5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.4vh;
    top: 70%;
}

.menu-casas-8 > .caixasdecores > .caixacor > h2 {
    position: absolute;
    left: 5.5%;
    top: 84%;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
    max-width: 76%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-casas-8 > .caixasdecores > .caixacor > i {
    position: absolute;
    right: 5.5%;
    bottom: 7%;
    font-size: 1vh;
    color: #9f9e9e;
    transition: 0.5s ease;
}

.menu-casas-8 > .caixasdecores > .caixacor > i:hover {
    transform: scale(1.33);
}

.menu-casas-8 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(167, 76, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-8 > i:hover {
    transform: scale(1.1);
}

.dialogo-1-veiculos {
    position: absolute;
    width: 39%;
    height: 45%;
    left: -138.5%;
    top: 25%;
    border-radius: 0.75vh;
    overflow: hidden;
    transition: 0.5s ease;
    border-top: none;
    clip-path: inset(0);
    box-shadow: 0 0 25px rgba(116, 115, 115, 0.103);
    border: 1.5px solid rgb(192, 192, 192);
    background-color: rgba(6, 6, 6, 0.111);
    border-top: none;
}

.dialogo-1-veiculos > .desfocarMenus > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.1vh;
}

.dialogo-1-veiculos > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.dialogo-1-veiculos > .desfocarMenus > #changeInfos2 {
    margin-top: 4%;
}

.dialogo-1-veiculos > .desfocarMenus > #changeInfos2 > h2 {
    position: relative;
    left: 3%;
    top: 5%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #dddbdb;
}

.dialogo-1-veiculos > .desfocarMenus > #changeInfos2 > h2 > i {
    position: relative;
    left: 0.5%;
    top: 5%;
    font-style: normal;
    font-size: 1.6vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.dialogo-1-veiculos > .desfocarMenus > img {
    position: absolute;
    width: 40%;
    bottom: -15%;
    right: -3%;
}

.dialogo-1-veiculos > .desfocarMenus > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(187, 76, 76);
    transition: 0.5s ease;
    cursor: pointer;
}

.dialogo-1-veiculos > .desfocarMenus > i:hover {
    transform: scale(1.1);
}

.dialogo-4-veiculos {
    position: absolute;
    width: 39%;
    height: 45%;
    left: -138.5%;
    top: 25%;
    border-radius: 0.75vh;
    overflow: hidden;
    transition: 0.5s ease;
    border-top: none;
    clip-path: inset(0);
    box-shadow: 0 0 25px rgba(116, 115, 115, 0.103);
    border: 1.5px solid rgb(192, 192, 192);
    background-color: rgba(6, 6, 6, 0.111);
    border-top: none;
    opacity: 0.95;
}

.dialogo-4-veiculos > .desfocarMenus > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.1vh;
}

.dialogo-4-veiculos > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.dialogo-4-veiculos > .desfocarMenus > #changeInfos2 {
    margin-top: 4%;
}

.dialogo-4-veiculos > .desfocarMenus > #changeInfos2 > h2 {
    position: relative;
    left: 3%;
    top: 5%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #dddbdb;
}

.dialogo-4-veiculos > .desfocarMenus > #changeInfos2 > h2 > i {
    position: relative;
    left: 0.5%;
    top: 5%;
    font-style: normal;
    font-size: 1.6vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.dialogo-4-veiculos > .desfocarMenus > img {
    position: absolute;
    width: 28%;
    bottom: -10%;
    right: -3%;
}

.dialogo-4-veiculos > .desfocarMenus > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(187, 76, 76);
    transition: 0.5s ease;
    cursor: pointer;
}

.dialogo-4-veiculos > .desfocarMenus > i:hover {
    transform: scale(1.1);
}

.desfocarMenus {
    position: absolute;
    top: 0.88%;
    width: 99%;
    height: 97.8%;
    left: 0.5%;
    backdrop-filter: blur(4px);
}

.dialogo-4-veiculos > .desfocarMenus  > .caixasdecores > .caixacor {
    position: relative;
    display: inline-block;
    width: 16%;
    height: 32%;
    top: 1%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    transition: 0.5s ease;
}

.dialogo-4-veiculos > .desfocarMenus > .caixasdecores > .caixacor > img {
    position: relative;
    width: 70%;
    right: -45%;
    bottom: -29%;
  
}

.dialogo-4-veiculos > .desfocarMenus > .caixasdecores > .caixacor:hover {
    transform: scale(1.03);
}

.dialogo-4-veiculos > .desfocarMenus > .caixasdecores {
    position: absolute;
    width: 93%;
    top: 14%;
    height: 75%;
    left: 2%;
    overflow-y: scroll;
}

.dialogo-4-veiculos > .desfocarMenus > .caixasdecores::-webkit-scrollbar {
    display: none;
}

.dialogo-4-veiculos > .desfocarMenus > .caixasdecores > .caixacor > h1 {
    position: absolute;
    left: 5.5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.3vh;
    top: 70%;
}

.dialogo-4-veiculos > .desfocarMenus > .caixasdecores > .caixacor > h2 {
    position: absolute;
    left: 5.65%;
    top: 84%;
    font-size: 1.1vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.dialogo-4-veiculos > .desfocarMenus > .caixasdecores > .caixacor > i {
    position: absolute;
    left: 5.5%;
    top: 4.3%;
    font-size: 1.1vh;
    cursor: pointer;
    color: white;
    transition: 0.5s ease;
}

/* armario */

.dialogo-2-armario {
    position: absolute;
    width: 39%;
    height: 45%;
    left: -138.5%;
    top: 25%;
    border-radius: 0.75vh;
    overflow: hidden;
    transition: 0.5s ease;
    border-top: none;
    clip-path: inset(0);
    box-shadow: 0 0 25px rgba(116, 115, 115, 0.103);
    border: 1.5px solid rgb(192, 192, 192);
    background-color: rgba(6, 6, 6, 0.111);
    border-top: none;
}

.dialogo-2-armario > .desfocarMenus > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.1vh;
}

.dialogo-2-armario > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.dialogo-2-armario > .desfocarMenus > #changeInfos > h2 {
    position: relative;
    left: 3%;
    top: 5%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #dddbdb;
}

.dialogo-2-armario > .desfocarMenus > #changeInfos > h2 > i {
    position: relative;
    left: 0.5%;
    top: 5%;
    font-style: normal;
    font-size: 1.6vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.dialogo-2-armario > .desfocarMenus > img {
    position: absolute;
    width: 30%;
    bottom: -5%;
    right: -8%;
}

.dialogo-2-armario > .desfocarMenus > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(187, 76, 76);
    transition: 0.5s ease;
    cursor: pointer;
}

.dialogo-2-armario > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(187, 76, 76);
    transition: 0.5s ease;
    cursor: pointer;
}

.dialogo-2-armario > .desfocarMenus > i:hover {
    transform: scale(1.1);
}

.descricaoformatada {
    font-style: normal; font-family: "Montserrat", sans-serif; color: #9f9e9e; font-size: 1.4vh;
}

.indisponivel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    background-color: #3635357a;
    border-radius: 1vh;
}

.indisponivel > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    text-align: center;
    top: 43%;
    font-size: 2.5vh;
}

/* notifs */

.zona-notificacao {
    position: absolute;
    min-width: 8%;
    width: auto;
    height: 4%;
    right: 5%;
    top: 5%;
    background-color: rgba(6, 6, 6, 0.455);
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(116, 115, 115, 0.103);
    clip-path: inset(0);
    overflow: hidden;
    border-top: none;
}

.zona-notificacao > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.zona-notificacao > h1 {
    font-size: 1.4vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
    color: white;
    position: relative;
    left: 3%;
    top: 15.5%;
    font-size: 1.8vh;
    padding-left: 0.2vh;
    padding-right: 2vh;
}



.menu-casas-3 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(76, 96, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-3 > i:hover {
    transform: scale(1.1);
}

.menu-casas-4 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(76, 96, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-4 > i:hover {
    transform: scale(1.1);
}

.menu-casas-6 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(76, 96, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-6 > i:hover {
    transform: scale(1.1);
}

.menu-casas-8 > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(76, 96, 187);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-8 > i:hover {
    transform: scale(1.1);
}

.nocontent {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
   text-align: center;
    top: 40%;
    left: 15%;
    font-size: 2.2vh;
    display: none;
}

.zona-preview {
    position: absolute;
    width: 25%;
    height: 25%;
    right: 12%;
    top: 52%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    overflow: hidden;
    transition: 0.5s ease;
    transform: scale(0);
}

.zona-preview:hover {
    transform: scale(1.05);
}

.zona-preview > img {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.zona-preview > i {
    position: absolute;
    font-size: 2vh;
    color: rgb(192, 45, 45);
    top: 5%;
    right: 2.5%;
    z-index: 2;
  
    transition: 0.5s ease;
    cursor: pointer;
}

.zona-preview > i:hover {
    transform: scale(1.2);
}

/* chaves */

.dialogo-3-chaves {
    position: absolute;
    width: 39%;
    height: 45%;
    left: -138.5%;
    top: 25%;
    border-radius: 0.75vh;
    overflow: hidden;
    transition: 0.5s ease;
    border-top: none;
    clip-path: inset(0);
    box-shadow: 0 0 25px rgba(116, 115, 115, 0.103);
    border: 1.5px solid rgb(192, 192, 192);
    background-color: rgba(6, 6, 6, 0.111);
    border-top: none;
}

.desfocarMenus {
    position: absolute;
    top: 0.85%;
    width: 99%;
    height: 98%;
    left: 0.5%;
    backdrop-filter: blur(6px);
}

/* Restante do seu CSS... */


.dialogo-3-chaves > .desfocarMenus > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.1vh;
}

.dialogo-3-chaves > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.dialogo-3-chaves > .desfocarMenus > h2 {
    position: relative;
    left: 3%;
    top: 5%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #dddbdb;
}

.dialogo-3-chaves > .desfocarMenus > h2 > i {
    position: relative;
    left: 0.5%;
    top: 5%;
    font-style: normal;
    font-size: 1.6vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.dialogo-3-chaves > .desfocarMenus > img {
    position: absolute;
    width: 30%;
    bottom: -9%;
    right: -6%;
}

.dialogo-3-chaves > .desfocarMenus > i {
    position: absolute;
    right: 4%;
    font-size: 2.5vh;
    top: 3.7%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(187, 76, 76);
    transition: 0.5s ease;
    cursor: pointer;
}

.dialogo-3-chaves > .desfocarMenus > i:hover {
    transform: scale(1.1);
}


.dialogo-3-chaves > .desfocarMenus > input {
    background-color: transparent;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    position: absolute;
    left: 2.7%;
    top: 22.7%;
    font-size: 1.58vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
    padding-right: 0.5vh;
    padding-left: 0.5vh;
    transition: 0.5s ease;
}

.dialogo-3-chaves > .desfocarMenus > input:focus {
    outline: none;
}

.maxLevel {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(6, 6, 6, 0.111);
}

.maxLevel > .desfocarMenus > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    top: 43%;
    font-size: 2.1vh;
    text-align: center;
}

.maxLevel > .desfocarMenus > h2 {
    position: relative;
    top: 42%;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    color: #dddbdb;
    text-align: center;
}

.realestateMenu {
    position: absolute;
    width: 50%;
    height: 75%;
    left: -5%; /*5%*/
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.8vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    overflow-y: scroll;
    transition: 0.5s ease;
}

.form-control {
    background-color: transparent !important;
    border-radius: 0.5vh !important;
    border: 1.5px solid rgb(192, 192, 192) !important;
    font-family: 'Montserrat', sans-serif !important;
    color: rgba(255, 255, 255, 0.72) !important;
}

.form-control::placeholder {
    background-color: transparent !important;
    font-family: 'Montserrat', sans-serif !important;
    color: rgba(255, 255, 255, 0.72) !important;
}

.realestateMenu > .espacoApertado {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}

select > option {
    color: black;
}

.form-group > label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 1%;
}

.espacoApertado > h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2.3vh;
}

.realestateMenu::-webkit-scrollbar {
    display: none;
}

.realestateMenu > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.hoverBotaoCoords:hover {
    background-color: rgba(231, 193, 96, 0.423) !important;
}

.hoverBotaoPreview:hover {
    background-color: rgba(231, 96, 96, 0.423) !important;
}


/* 9 */

.menu-casas-9 {
    position: absolute;
    width: 80%;
    height: 20%;
    left: 10%;
    bottom: -105%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    transition: 0.5s ease;
}

.menu-casas-9 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-9 > .caixaCat > .caixapersonalizacao {
    position: relative;
    display: inline-block;
    top: 28.5%;
    width: 13%;
    height: 65%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    margin-right: 0.8%;
    border: 1.5px solid rgb(192, 192, 192);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-9 > .caixaCat > .caixapersonalizacao:hover {
    transform: scale(1.03);
}

.menu-casas-9 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 1%;
    top: 6.32%;
    font-size: 1.7vh;
}

.menu-casas-9 > h2 {
    position: relative;
    text-align: center;
    top: 20.5%;
    font-size: 1.4vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-9 > .caixaCat > .caixapersonalizacao > h1 {
    position: absolute;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.5vh;
    top: 68%;
}

.menu-casas-9 > .caixaCat > .caixapersonalizacao > h2 {
    position: absolute;
    left: 5%;
    top: 83%;
    font-size: 1.3vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-9 > .caixaCat > .caixapersonalizacao > img {
    position: relative;
    width: 80%;
}

.caixaCat {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: 0.5s ease;
}

.caixaCat::-webkit-scrollbar {
    display: none;
}

#turnFurniture {
    cursor: pointer;
    transition: 0.5s ease;
}

#turnFurniture:hover {
    transform: scale(1.1);
}

.menu-casas-9 > i {
    position: absolute;
    right: 1%;
    font-size: 2.3vh;
    top: 6.5%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(187, 76, 76);
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 1;
}

.menu-casas-9 > i:hover {
    transform: scale(1.15);
}

/* 10 */

.menu-casas-10 {
    position: absolute;
    width: 20%;
    height: 53%;
    right: -100%;
    top: 12%;
    border-radius: 0.4vh;
    overflow: hidden;
    transition: 0.5s ease;
}

.menu-casas-10 > .key {
    position: relative;
    display: inline-block;
    height: 11.5%;
    width: 100%;
    background: linear-gradient(265deg, rgba(0, 0, 0, 0.565) 0%, rgba(0, 0, 0, 0.405) 50%, rgba(57,50,50,0) 100%);
    font-size: 0;
    margin-top: 1%;
    border-radius: 0.5vh;
    border-right: 3px rgba(129, 34, 34, 0.837) solid;
}

.menu-casas-10 > .key > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 20%;
    top: 35%;
    font-size: 1.7vh;
}

.menu-casas-10 > .key > h2 {
    position: absolute;
    font-size: 1.8vh;
    right: 6%;
    top: 34%;
    color: rgba(129, 34, 34, 0.837);
}

.menu-casas-10 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-10 > .caixaCat > .caixapersonalizacao {
    position: relative;
    display: inline-block;
    top: 28.5%;
    width: 13%;
    height: 65%;
    left: 1%;
    overflow: hidden;
    border-radius: 1vh;
    margin-right: 0.8%;
    border: 1.5px solid rgb(192, 192, 192);
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-10 > .caixaCat > .caixapersonalizacao:hover {
    transform: scale(1.03);
}

.menu-casas-10 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 1%;
    top: 6.32%;
    font-size: 1.7vh;
}

.menu-casas-10 > h2 {
    position: relative;
    text-align: center;
    top: 20.5%;
    font-size: 1.4vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menu-casas-9 > .caixaCat > .caixapersonalizacao > i {
    position: absolute;
    left: 3%;
    font-size: 2.3vh;
    top: 5%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.574);
    clip-path: inset(0);
    color: rgb(187, 76, 76);
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 1;
}

.menu-casas-9 > .caixaCat > .caixapersonalizacao > i:hover {
    transform: scale(1.15);
}

.menu-casas-9 > input {
    background-color: transparent;
    border-radius: 0.85vh;
    border: 1.5px solid rgb(192, 192, 192);
    position: absolute;
    right: 10.5%;
    width: 15%;
    top: 7%;
    height: 11.5%;
    font-size: 1.58vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
    padding-right: 0.5vh;
    padding-left: 0.5vh;
    z-index: 5;
}

.menu-casas-9 > input::placeholder {
    color: #9f9e9e;
}

.menu-casas-9 > input:focus {
    outline: none;
}

.realestateMenuTier {
    position: absolute;
    width: 50%;
    height: 32%;
    left: -5%; /*5%*/
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.8vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    overflow-y: scroll;
    transition: 0.5s ease;
}

.realestateMenuTier > .espacoApertado {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}

.realestateMenuTier::-webkit-scrollbar {
    display: none;
}

.realestateMenuTier > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.realestateMenuDoor {
    position: absolute;
    width: 50%;
    height: 60%;
    left: -5%; /*5%*/
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.8vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
    overflow-y: scroll;
    transition: 0.5s ease;
}

.realestateMenuDoor > .espacoApertado {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}

.realestateMenuDoor::-webkit-scrollbar {
    display: none;
}

.realestateMenuDoor > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-11 {
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background-color: rgba(33, 33, 33, 0.689);
    border-radius: 0.4vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.474);
}

.menu-casas-11 > .bordas {
    border-top: 3px rgba(129, 34, 34, 0.837) solid;
    box-shadow: 0 0 25px rgb(109, 30, 30);
}

.menu-casas-11 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-11 > .menuesquerda {
    position: relative;
    display: inline-block;
    top: 5.4%;
    width: 30%;
    height: 70%;
    left: 3%;
    border-radius: 1vh;

}

.menuesquerda > .checkRealEstateData {
    position: absolute;
    width: 100%;
    height: 47%;
    top: 0;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
    overflow: hidden;
    transition: 0.5s ease;
}

.menuesquerda > .checkRealEstateData:hover {
    transform: scale(1.03);
}

.menuesquerda > .checkRealEstateData > img {
    position: absolute;
    width: 80%;
    left: 8%;
    filter: drop-shadow(0 0 0.5rem rgba(54, 54, 54, 0.364));
}

.menuesquerda > .checkRealEstateData > h1 {
    position: relative;
    left: 5%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.7vh;
    top: 50%;
    width: 100%;
}

.menuesquerda > .checkRealEstateData > h2 {
    position: relative;
    left: 5%;
    top: 49%;
    font-size: 1.5vh;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
}

.menuesquerda > .houseListage {
    position: absolute;
    width: 39%;
    height: 70%;
    top: 0;
    overflow: hidden;
    border-radius: 1vh;
    border: 1.5px solid rgb(192, 192, 192);
    transition: 0.5s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.174);
}

.menuesquerda > .houseListage:hover {
    transform: scale(1.01);
}

.houseListage > input {
    position: absolute;
    top: 10%;
    width: 94.8%;
    height: 6.5%;
    left: 2.8%;
    font-size: 1.45vh;
    padding-left: 1vh;
    padding-top: 0.15vh;
    border-radius: 0.7vh;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(203, 203, 203);
    color: white;
    background-color: transparent;
    outline: none;
}

.houseListage > input::placeholder {
    color: white;
    font-size: 1.45vh;
}

.housesListage {
    position: absolute;
    left: 0;
    top: 17%;
    width: 100%;
    height: 83%;
    overflow-y: scroll;
}

.housesListage::-webkit-scrollbar {
    display: none;
}

.houseListed:hover {
    transform: scale(1.01);
}

.houseListed {
    position: relative;
    display: inline-block;
    width: 95%;
    left: 2.8%;
    top: 2.5%;
    margin-bottom: 1.5%;
    border-radius: 0.8vh;
    min-height: 8vh;
    border: 1px solid rgb(203, 203, 203);
    transition: 0.5s ease;
    background-color: rgba(61, 61, 62, 0.074);
}

.houseListed > h1 {
    position: relative;
    left: 2%;
    font-family: ProBold;
    color: rgb(239, 238, 238);
    font-size: 1.7vh;
    padding-top: 1vh;
    padding-bottom: 0.45vh;
    width: 100%;
}

.houseListed > h1 > i {
    font-family: 'Montserrat', sans-serif;
    color: #bcbaba;
    font-size: 1.5vh;
    text-decoration: none;
    font-style: normal;
}

.houseListage > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    left: 3%;
    top: 3.32%;
    font-size: 2.2vh;
}

.menu-casas-11 > #closeIcon {
    position: absolute;
    font-size: 3vh;
    color: rgb(192, 45, 45);
    top: 3.5%;
    right: 2.5%;
    z-index: 2;
    filter: drop-shadow(0 0 0.5rem rgba(54, 54, 54, 0.364));
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-casas-11 > #closeIcon:hover {
    transform: scale(1.06);
}

.trashHouse {
    position: absolute;
    right: 2.5%;
    top: 10%;
    font-size: 1.7vh;
    color: rgb(192, 45, 45);
    z-index: 1;
    transition: 0.5s ease;
    cursor: pointer;
}

.trashHouse:hover {
    transform: scale(1.1);
}